<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Example of Student Pages">
      <p class="p-t-20">This page is to demonstate how Front-end going to co-opperate with Back-end</p>
    </app-card>
  </div>
  <br>
  <br>
  <br>
  <app-card cardTitle="Student Form" [options]="false">
    <div class="row">
      <div class="col-md-12">
        <form action="javascript:">
          <div class="form-group">
            <label for="studentNameLabel">Student Name</label>
            <input type="text" class="form-control" id="studentNameField" placeholder="Student Name">
          </div>
          <div class="form-group">
            <label for="studentCodeLabel">Student Code</label>
            <input type="text" class="form-control" id="studentCodeField" placeholder="Student Code">
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </app-card>
</div>
